* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: rgba(127, 255, 255, 0.4);
    font-size: 12px;
    overflow-x: hidden;
    background: rgb(82 86 89);
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.container {
    width: 803px;
    height: 1132px;
    background-color: white;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.name {
    font-weight: normal;
    font-size: 36px;
}
section {
    display: flex;
    justify-content: flex-start;
}
.section-title {
    width: 30%;
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section-box {
    width: 70%;
}
.section-box.exp-edu-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section-box.exp-edu-section > .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
a {
    /* display: block; */
    color: unset;
}
.section-box.exp-edu-section > .item > div > p:nth-child(1) {
    font-size: 13.5px;
}
.lighter {
    opacity: 0.8;
}
h3 {
    font-weight: normal;
}
.section-box.projects-section {
    display: flex;
    justify-content: space-between;
}
.section-box.projects-section > div {
    width: 50%;
}
.section-box.projects-section p {
    font-size: 13.5px;
    margin-bottom: 8px;
}
.section-box.projects-section a {
    margin-bottom: 5px;
}
/* .section-box.projects-section p:nth-of-type(2) {
    margin-top: 15px;
} */